<div class="ui raised segment">
    <form
        [formGroup]="myForm"
        (ngSubmit)="onSubmit(myForm)"
        class="ui form"
    >
        <label for="username">Username</label>
        <input
            [formControl]="myForm.controls.username"
            id="username"
            type="text"
        >

        <label for="password">Password</label>
        <input
            [formControl]="myForm.controls.password"
            id="password"
            type="text"
        >

        <button type="submit" class="ui button">Submit</button>



    </form>
</div>