<div class="ui raised segment">
    <form
        [formGroup]="myForm"
        (ngSubmit)="onSubmit(myForm)"
        class="ui form"
    >
        <label for="username">Username</label>
        <input
            formControlName = "username"
            id="username"
            type="text"
        >
        <!-- {{username}} -->
        <div class="alert" *ngIf="username.touched && username.invalid">
            <div *ngIf="username.errors.required">Username is required</div>
            <div *ngIf="username.errors.minlength">Min Length is {{username.minlength.Length}}</div>
        </div>


        <label for="password">Password</label>
        <input
            formControlName="password"
            id="password"
            type="text"
        >

        <button type="submit" class="ui button">Submit</button>



    </form>
</div>